<div class="WelcomeComponent active">
  <h1>Welcome to WordPuzzle!</h1>
  <p>Enter your name, and click <kbd>Start</kbd>. You will have 40 seconds to guess as many words as you can. Beware! Using <kbd>Backspace</kbd> will result in penalties!</p>
  <p>Have fun!</p>
  <form>
    <div class="form-group">
      <input class="form-control" placeholder="Username" ng-model="$ctrl.username" autofocus="on">
    </div>
    <div class="form-group">
      <input type="submit" class="btn btn-default" ng-click="$ctrl.start()" value="Start!">
    </div>
  </form>
</div>
