.App {
    position: absolute;
    top: 20px;
    bottom: 20px;
    left: 20px;
    right: 20px;
    margin: 0px;
    padding: 0px;
}

.component {
    padding: 20px;
}

.WelcomeComponent  {
    .component;
}

.GameComponent {
    .component;

    kbd {
        font-size: 20px;
        margin: 5px;
        position: relative;

        &.used {
            background-color: gray;
        }
    }
}

.HighscoresComponent {
    .component;
}

.view-animate-container {
    overflow:hidden;
}

.view-animate {
    width: 100%;
    position: absolute;
    padding:10px;
}

.view-animate.ng-enter, .view-animate.ng-leave {
    transition:all ease-in-out 0.3s;
}

.view-animate.ng-enter {
    transform: rotateY(-90deg);
}
.view-animate.ng-enter.ng-enter-active {
    transform: rotateY(0deg);
}
.view-animate.ng-leave.ng-leave-active {
    transform: rotateY(90deg);
}

